* {
  box-sizing: border-box;
}

.presNamesContainer,
.soloData {
  width: 100%;
  border: 2px solid black;
  padding: 0.5rem;
}

.soloData{
    margin-bottom: 1rem;
}

span {
  font-weight: bold;
}

.url{
    word-wrap: break-word;
}

ul{
    list-style-position: inside;
    padding: 0;
}